version 5.247.4

framework: auto-detect

group FastCheck
    source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Promise ~> 2
    nuget FSharp.Core ~> 4.7

group FastCheck.Tests
    source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Promise ~> 2
    nuget FSharp.Core ~> 4.7

group Jest
    source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

    nuget Fable.Browser.Dom ~> 2
    nuget Fable.Core ~> 3
    nuget Fable.Node ~> 1
    nuget Fable.Promise ~> 2
    nuget Feliz ~> 1
    nuget FSharp.Core ~> 4.7

group Jest.Tests
    source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

    nuget Fable.Browser.Dom ~> 2
    nuget Fable.Core ~> 3
    nuget Fable.Promise ~> 2
    nuget Feliz ~> 1
    nuget FSharp.Core ~> 4.7

group RTL
	source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

    nuget Fable.Browser.Event ~> 1
    nuget Fable.Core ~> 3
    nuget Fable.Promise ~> 2
    nuget Feliz ~> 1
    nuget FSharp.Core ~> 4.7

group RTL.Tests
	source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

    nuget Fable.Browser.Dom ~> 2
    nuget Fable.Browser.Event ~> 1
    nuget Fable.Core ~> 3
    nuget Fable.Promise ~> 2
    nuget Feliz ~> 1
    nuget FSharp.Core ~> 4.7

group Tooling
	source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

	nuget Fake.IO.FileSystem ~> 5
	nuget FSharp.Core ~> 4.7
    nuget FSharp.Json ~> 0
	nuget FSharpLint.Core ~> 0
    nuget Yarnpkg.Yarn ~> 1

group FakeBuild
	source https://api.nuget.org/v3/index.json

	nuget Fake.Core.Target ~> 5
	nuget Fake.Core.ReleaseNotes ~> 5
	nuget Fake.DotNet.AssemblyInfoFile ~> 5
	nuget Fake.DotNet.Cli ~> 5
	nuget Fake.DotNet.MSBuild ~> 5
	nuget Fake.DotNet.Paket ~> 5
	nuget Fake.IO.FileSystem ~> 5
    nuget Fake.JavaScript.Yarn ~> 5
	nuget Fake.JavaScript.Npm ~> 5
	nuget Fake.Tools.Git ~> 5
    nuget FSharp.Json ~> 0
	nuget FSharpLint.Core ~> 0
    nuget NuGet.Packaging 5.6
