type project
authors Cody Johnson
description
    Fable bindings for react-testing-library
language
    F#
tags
    fsharp, fable, react, jest, mocha, testing, react, testing-library, rtl
files
    *.fsproj ==> fable
    *.fs ==> fable
